@import url(./assets/fonts/font.css);

*{
box-sizing: border-box;
}
.Workspace {
display: flex;
width: 100%;
max-width: 1680px;
padding: 12px;
margin: 0 auto;
position: relative;
flex-wrap: wrap;
}
.Workspace .Topinfo{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
height: 50px;
padding:  12px;
}
.Topinfo .Userinfo {
display: flex;
align-items: center;
}
.Topinfo .Userinfo h3{
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 31.2px */
}
.Topinfo .Userinfo select{
display: flex;
margin-left: 12px;
width: 200px;
height: 32px;
padding: 7px 12px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 4px;
border: 1px solid var(--control-border, #E3E2EB);
background: var(--control-background, #FFF);
}
.Topinfo .Userinfo select option{
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 16.9px */
}
.Topinfo .Dateinfo {
display: flex;
align-items: center;
}
.Topinfo .Dateinfo span{
font-family: 'Pretendard-Regular';
color: var(--text-secondary, #77758A);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 16.9px */
display: inline-block;
}
.Topinfo .Dateinfo span.time{
color: #22222B;
font-size: 13px;
display: inline-block;
}
.Topinfo .Dateinfo .Save{
height: 32px;
display: flex;
min-width: 64px;
padding: 0px 12px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 4px;
border: 1px solid var(--button-primary-background, #944AF2);
background: var(--button-primary-background, #944AF2);
color: #fff;
margin-left: 12px;
}

.Toolbar {
margin: 12px 0 12px 12px;
background: var(--color-gray-150, #EFEFF5);
display: flex;
width: 60px;
height: 100%;
padding: 12px 0px;
flex-direction: column;
align-items: center;
height: calc(100vh - 279px);
border-left: 1px solid #E3E2EB;
border-top: 1px solid #E3E2EB;
border-bottom: 1px solid #E3E2EB;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.Toolbar ul {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 0 12px;
}
.Toolbar ul li{
display: flex;
padding: 12px;
cursor: pointer;
}
.Workcanvas {
width: calc(100% - 480px);
margin-top: 12px;
height: calc(100vh - 279px);
border: 1px solid #E3E2EB;
}
.Workcanvas h4{
display: flex;
border-top: 1px solid #EFEFF5;
border-bottom: 1px solid #E3E2EB;
background: var(--color-gray-150, #EFEFF5);
height: 44px;
padding: 0px 12px;
align-items: center;
color: var(--text-primary, #393847);
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 16.9px */
font-family: Roboto;

}
.Workcanvas .canvas {
padding: 77px 40px 40px 40px;
position: relative;
}
.Workcanvas .canvas img{
width: 100%;
height: auto;
}
.Workcanvas .canvas  .Pagenavigation{
position: absolute;
top: 40px;
right: 40px;
display: flex;
height:37px;
}
.Workcanvas .canvas  .Pagenavigation > div:nth-child(1),.Workcanvas .canvas  .Pagenavigation > div:nth-child(3){
cursor: pointer;
}

.Workcanvas .canvas .SlideCounter{
margin: 0 10px;
color: #22222B;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 16.9px */
}

.Label{
width: 400px;
margin-top: 12px;
font-family: Pretendard;
position: relative;
height: calc(100vh - 279px);
border-right: 1px solid #E3E2EB;
border-top: 1px solid #E3E2EB;
border-bottom: 1px solid #E3E2EB;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
.Label h4{
display: flex;
background: var(--color-gray-150, #EFEFF5);
height: 44px;
padding: 0px 12px;
align-items: center;
color: var(--text-primary, #393847);
border-top-right-radius:5px ;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 19.5px */
border-bottom: 1px solid #E3E2EB;
}
.Label .Labeltag {
height: calc(100vh - 326px);
overflow-y: auto;
scrollbar-width: thin;  
scrollbar-color: #E3E2EB transparent;  

&::-webkit-scrollbar {
width: 10px;  
background-color: transparent; 
border-left: 1px solid #E3E2EB; 
}

&::-webkit-scrollbar-track {
background-color: transparent; 
}

&::-webkit-scrollbar-thumb {
background-color: #E3E2EB;  
border: 2px solid #E3E2EB; 
}
}

.Label .Labeltag ul.Menu > li{
padding: 12px;
background-color: #F8F8FC;

border-bottom: 1px solid #E3E2EB;
height: 56px;
display: flex;
align-items: center;
color: #22222B;
font-size: 13px;
font-weight: 500;
width: 100%;
justify-content: space-between;
}
.Label .Labeltag ul.Menu > li:last-child{
border-top: none;
}
.Label .Labeltag ul.Menu >  li > div{
display: flex;
}
.Label .Labeltag ul.Submenu > li{
background-color: #fff;
color: #22222B;
font-family: Pretendard;
font-size: 13px;
display: flex;
height: 40px;
padding: 4px 12px 4px 20px;
align-items: center;
border-bottom: 1px solid #E3E2EB;
justify-content: space-between;
}
.Label .Labeltag ul.Submenu > li > div{
  display: flex;
  align-items: center;
}
.Label .Eyeicon{
margin-right: 4px;
display: flex;
align-items: center;
}
.Label .Foldericon{
width: 32px;
display: flex;
justify-content: center;
align-items: center;
}
.Label .Arrowicon{
width: 24px;
left: 0;
cursor: pointer;
}
.Label  ul.Submenu li:hover{
background-color: rgba(244, 236, 254, 0.50);
}
.Label  ul.Submenu .Hovericon{
display: none;
}
.Label  ul.Submenu li:hover .Hovericon{

display: inline-block;
}
.Label  ul.Submenu li .Hovericon svg{
width: 24px;
}
.Label  ul.Submenu li .Hovericon svg:first-child{
margin-right: 4px;
}
.InactiveItemText{
  color: #999;
}
 .ActiveItemText{
  color: #22222B;
}
.Label  ul.Submenu .Hovericon.Active{
  display: inline-block;
  position: relative;
  }
  .swiper-no-swiping {
    pointer-events: none;
  }
