@import url(./assets/fonts/font.css);

*{
box-sizing: border-box;

}

button{
display: flex;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 8px;
cursor: pointer;
border-radius: 4px;
background: #944AF2;
color: #fff;
border: none;
}
input[type="text"],input[type="password"]{
border: 1px solid #E3E2EB;
border-radius: 10px;
background: #FFF;
padding: 16px 10px;
width: 100%;
}
/* 체크 박스 기본 커스텀 */
input[type="checkbox"] {
display: none;
}
input[type="checkbox"] + label {
position: relative;
padding-left: 20px; 
cursor: pointer;
display: flex;
align-items: center;
}
input[type="checkbox"] + label::before {
content: '';
position: absolute;
left: 0;
top: 5px;
width: 16px;
height: 16px;
border: 1px solid #E3E2EB;
background-color: #fff;
border-radius: 4px;
transition: background-color 0.3s;

}
input[type="checkbox"] + label::after {
content: '\2713'; 
position: absolute;
left: 2px; 
top: 5px; 
color: #fff; 
font-size: 16px; 
opacity: 0;
font-weight:500;
transition: opacity 0.6s;
}
input[type="checkbox"]:checked + label::before {
background-color: #944AF2;
border-color: #944AF2;
}
input[type="checkbox"]:checked + label::after {
opacity: 1;
}
input::placeholder {
color: #B0AEBC;
}
.MenuWarp{
    display: flex;
}
.Workspace {
display: flex;
width: 1680px;
height: 100%;
padding: 12px;
position: relative;
flex-wrap: wrap;
}
.Workspace .Topinfo{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
height: 50px;
padding:  12px;
}
.Topinfo .Userinfo {
display: flex;
align-items: center;
}
.Topinfo .Userinfo h3{
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 31.2px */
}
.Topinfo .Userinfo select{
display: flex;
margin-left: 12px;
width: 200px;
height: 32px;
padding: 7px 12px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 4px;
border: 1px solid var(--control-border, #E3E2EB);
background: var(--control-background, #FFF);
}
.Topinfo .Userinfo select option{
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 16.9px */
}
.Topinfo .Dateinfo {
display: flex;
align-items: center;
}
.Topinfo .Dateinfo span{
font-family: 'Pretendard-Regular';
color: var(--text-secondary, #77758A);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 16.9px */
display: inline-block;
}
.Topinfo .Dateinfo span.time{
color: #22222B;
font-size: 13px;
display: inline-block;
}
.Topinfo .Dateinfo .Save{
height: 32px;
display: flex;
min-width: 64px;
padding: 0px 12px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 4px;
border: 1px solid var(--button-primary-background, #944AF2);
background: var(--button-primary-background, #944AF2);
color: #fff;
margin-left: 12px;
}

.Toolbar {
margin: 12px 0 12px 12px;
background: var(--color-gray-150, #EFEFF5);
display: flex;
width: 60px;
height: 100%;
padding: 12px 0px;
flex-direction: column;
align-items: center;
height: calc(100vh - 279px);
border-left: 1px solid #E3E2EB;
border-top: 1px solid #E3E2EB;
border-bottom: 1px solid #E3E2EB;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.Toolbar ul {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 0 12px;
}
.Toolbar ul li{
display: flex;
padding: 12px;
cursor: pointer;
}
.Workcanvas {
width: calc(100% - 480px);
margin-top: 12px;
height: calc(100vh - 279px);
border: 1px solid #E3E2EB;
}
.Workcanvas h4{
display: flex;
border-top: 1px solid #EFEFF5;
border-bottom: 1px solid #E3E2EB;
background: var(--color-gray-150, #EFEFF5);
height: 44px;
padding: 0px 12px;
align-items: center;
color: var(--text-primary, #393847);
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 16.9px */
font-family: Roboto;

}
.Workcanvas .canvas {
padding: 77px 40px 40px 40px;
position: relative;
}
.Workcanvas .canvas img{
width: 100%;
height: auto;
}
.Workcanvas .canvas  .Pagenavigation{
position: absolute;
top: 40px;
right: 40px;
display: flex;
height:37px;
}
.Workcanvas .canvas  .Pagenavigation > div:nth-child(1),.Workcanvas .canvas  .Pagenavigation > div:nth-child(3){
cursor: pointer;
}

.Workcanvas .canvas .SlideCounter{
margin: 0 10px;
color: #22222B;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 16.9px */
}

.Label{
width: 400px;
margin-top: 12px;
font-family: Pretendard;
position: relative;
height: calc(100vh - 279px);
border-right: 1px solid #E3E2EB;
border-top: 1px solid #E3E2EB;
border-bottom: 1px solid #E3E2EB;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
.Label h4{
display: flex;
background: var(--color-gray-150, #EFEFF5);
height: 44px;
padding: 0px 12px;
align-items: center;
color: var(--text-primary, #393847);
border-top-right-radius:5px ;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 19.5px */
border-bottom: 1px solid #E3E2EB;
}
.Label .Labeltag {
height: calc(100vh - 326px);
overflow-y: auto;
scrollbar-width: thin;  
scrollbar-color: #E3E2EB transparent;  

&::-webkit-scrollbar {
width: 10px;  
background-color: transparent; 
border-left: 1px solid #E3E2EB; 
}

&::-webkit-scrollbar-track {
background-color: transparent; 
}

&::-webkit-scrollbar-thumb {
background-color: #E3E2EB;  
border: 2px solid #E3E2EB; 
}
}

.Label .Labeltag ul.Menu > li{
padding: 12px;
background-color: #F8F8FC;

border-bottom: 1px solid #E3E2EB;
height: 56px;
display: flex;
align-items: center;
color: #22222B;
font-size: 13px;
font-weight: 500;
width: 100%;
justify-content: space-between;
}
.Label .Labeltag ul.Menu > li:last-child{
border-top: none;
}
.Label .Labeltag ul.Menu >  li > div{
display: flex;
}
.Label .Labeltag ul.Submenu > li{
background-color: #fff;
color: #22222B;
font-family: Pretendard;
font-size: 13px;
display: flex;
height: 40px;
padding: 4px 12px 4px 20px;
align-items: center;
border-bottom: 1px solid #E3E2EB;
justify-content: space-between;
}
.Label .Labeltag ul.Submenu > li > div{
display: flex;
align-items: center;
}
.Label .Eyeicon{
margin-right: 4px;
display: flex;
align-items: center;
}
.Label .Foldericon{
width: 32px;
display: flex;
justify-content: center;
align-items: center;
}
.Label .Arrowicon{
width: 24px;
left: 0;
cursor: pointer;
}
.Label  ul.Submenu li:hover{
background-color: rgba(244, 236, 254, 0.50);
}
.Label  ul.Submenu .Hovericon{
display: none;
}
.Label  ul.Submenu li:hover .Hovericon{

display: inline-block;
}
.Label  ul.Submenu li .Hovericon svg{
width: 24px;
}
.Label  ul.Submenu li .Hovericon svg:first-child{
margin-right: 4px;
}
.InactiveItemText{
color: #999;
}
.ActiveItemText{
color: #22222B;
}
.Label  ul.Submenu .Hovericon.Active{
display: inline-block;
position: relative;
}
.swiper-no-swiping {
pointer-events: none;
}

/* 로그인 화면 */
.Login {
width: 100%;
height: 100vh;
background-color: #f5f5f5;
margin: 0 auto;
position: relative;
}
.Login .LoginForm{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 90vh;
}
.Login .LoginForm ul.LogoImg{
width: 400px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.Login .LoginForm ul.Input{
width: 400px;
margin-top: 50px;
}
.Login .LoginForm ul.Input li:first-child{
margin-bottom: 10px;
}
.Login .LoginForm button{
border-radius: 10px;
background: #944AF2;
color:#fff;
padding: 16px 10px;
width: 100%;
border: none;
font-weight: 700;
font-size: 18px;
margin-top: 50px;
}
.Login .Bottomuserinfo{
position: absolute; 
right: 80px;
bottom: 80px;
}
.Login .Bottomuserinfo ul{
display: flex;
}
.Login .Bottomuserinfo ul li{
margin-right: 10px;
color:#666;
display: flex;
line-height: 16px;

}
.Login .Bottomuserinfo ul li span{
margin-right: 8px;
display: flex;
align-items: center;
}
.Topbar{
display: flex;
border-bottom:1px solid #E3E2EB;
flex-direction: row;
padding: 0 20px;
align-items: center;
height: 60px;
min-width: 1636px;
justify-content: space-between;
}
.Topbar .UserName{
display: flex;
}
.Topbar .UserName span{
line-height: 18px;
font-size: 14px;
margin-left: 8px;
color: #77758A;
}
.LeftMenu{
display: flex;
height: calc(100vh - 60px);
background-color: #E3E2EB;
flex-wrap: wrap;
width: 240px;
flex-direction: column;
}

.LeftMenu ul.Makinarocks{
display: flex;
height: 74px;
width: 240px;
border-bottom:1px solid #ccc;
}
.LeftMenu ul.Makinarocks  li{
padding: 8px 20px;
display: flex;
align-items: center;
font-family: Roboto;
font-size: 13px;
font-weight: 700;
color: #77758A;
}
.LeftMenu ul.Makinarocks li span{
margin-left: 8px;
display: block;
}
.LeftMenu ul.Mainmenu{
display: flex;
width: 240px;
border-bottom:1px solid #ccc;
flex-direction: column;
flex-wrap: wrap;
padding:20px 0
}
.contianer{
display: flex;
max-width: 1920px;
flex-wrap: wrap;
}
.LeftMenu ul.Mainmenu  li{
width: 240px;
padding-bottom: 20px;
box-sizing: border-box;
}

.LeftMenu ul.Mainmenu .Submenu {
flex-direction: column;
flex-wrap: wrap;
display: flex;
width: 240px;
}
.LeftMenu ul.Mainmenu .Submenu li{
width: 240px;
padding: 12px 20px;
display: flex;
}
.LeftMenu ul.Mainmenu .Submenu li a{
color:  #77758A;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
line-height: 130%;
text-decoration: none;
display: flex;
}
.LeftMenu ul.Mainmenu .Submenu li span{
margin-left: 8px;   
}
.LeftMenu ul.Mainmenu .Submenu li:first-child{
color:  #9291A1;
font-size: 11px;
line-height: 130%; 
padding: 4px 20px;
}
.LeftMenu ul.Mainmenu .Submenu li.Active {
background-color: #EADBFC;
}
.LeftMenu ul.Mainmenu .Submenu li.Active a{
color: #393847;
font-weight: 500;
}

.Administration{
width: 100%;
padding: 12px;
}
.Administration h3{
display: flex;
width: 100%;
color: var(--text-primary, #393847);
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 130%; 
height: 74px;
align-items: center;
}
.Administration .Topspace{
margin-top: 12px;
width: 100%;
display: flex;
justify-content: space-between;
}
.Administration  .Serchbar {
display: flex;
}
.Administration  .Serchbar select{
display: flex;
height: 32px;
padding: 7px 12px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 4px;
border: 1px solid var(--control-border, #E3E2EB);
background: var(--control-background, #FFF);
}
.Administration  .Serchbar  select option{
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 130%; 
}
.Administration  .Serchbar input[type="search"]{
height: 32px;
width: 220px;
margin-left: 8px;
border-radius: 4px;
border: 1px solid #E3E2EB;
}

.Administration .AdminTable table{
margin-top: 12px;
width: 100%;
border: 1px solid  #E3E2EB;
border-radius: 4px;
display: flex;
flex-wrap: wrap;
}
.Administration .AdminTable table thead{
background: #EFEFF5;
}
.Administration .AdminTable table tr {
display: flex;
height: 50px;
align-items: center;
border-bottom:1px solid #E3E2EB;
}
.Administration .AdminTable table tr:last-child {
border-bottom:none;
}

.Administration .AdminTable table thead, 
.Administration .AdminTable table tbody{
width: 100%;
}
.Administration .AdminTable table th{
color: var(--text-color, #22222B);
font-family: Pretendard;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 130%;
}
.Administration .AdminTable table td{
color: var(--text-color, #22222B);
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 18.2px */
}
.Administration .AdminTable table th,.Administration .AdminTable table td {
margin: 8px 20px;
max-width: 1656px;
display: flex;
width: 7.29%;
min-width: 100px;
}   
.Administration .AdminTable table th:last-child,.Administration .AdminTable table td:last-child{
width:24.21%;
min-width: 410px;
}

.Administration .AdminTable .Admin span {
color: #B22222;
font-size: 12px;
border-radius: 14px;
background: #FFE8E8;
display: flex;
height: 28px;
padding: 8px 12px;
justify-content: center;
align-items: center;
margin-left: 4px;
}
.Administration .AdminTable .Labeler span {
color: #1F3F92;
font-size: 12px;
border-radius: 14px;
background: #EBF2F9;
display: flex;
height: 28px;
padding: 8px 12px;
justify-content: center;
align-items: center;
margin-left: 4px;
}
.Administration .AdminTable .Manager span {
color:#1F9254;
font-size: 12px;
border-radius: 14px;
background: #EBF9F1;
display: flex;
height: 28px;
padding: 8px 12px;
justify-content: center;
align-items: center;
margin-left: 4px;
}   

.Administration .AdminTable .Customer span {
color:#92341F;
font-size: 12px;
border-radius: 14px;
background: #F9F8EB;
display: flex;
height: 28px;
padding: 8px 12px;
justify-content: center;
align-items: center;
margin-left: 4px;
}    

.Administration .AdminTable .Authority{
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 4px;
}
.Administration .AdminTable .Authority > div{
margin-right: 10px;
}
.ml8{
margin-left: 8px;
}
.Administration  .topSerach{
background-color: transparent;
position: relative;
left: -40px;
}

.ManagementSection {
width: 100%;
padding: 12px;
}
.ManagementSection .TopMenu{
display: flex;
justify-content: space-between;
height: 74px;
width: 100%;
align-items: center;
}
.ManagementSection h3 {
display: flex;
color: var(--text-primary, #393847);
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 130%;

}
.ManagementSection .dataWarp{
display: flex;
align-items: center;
justify-content: space-between;
}
.ManagementSection .dataTable{
width: 47%;
min-width: 780px;
}
.ManagementSection .UserTable{
width: 47%;
min-width: 780px;
}
.ManagementSection table{
margin-top: 12px;
width: 100%;
border: 1px solid  #E3E2EB;
border-radius: 4px;
display: flex;
flex-wrap: wrap;
}
.ManagementSection  table thead{
background: #EFEFF5;
}
.ManagementSection table tr {
display: flex;
height: 50px;
align-items: center;
border-bottom:1px solid #E3E2EB;
}
.ManagementSection  table tr:last-child {
border-bottom:none;
}

.ManagementSection table thead, 
.ManagementSection  table tbody{
width: 100%;
}
.ManagementSection  table th{
color: var(--text-color, #22222B);
font-family: Pretendard;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 130%;
}
.ManagementSection  table td{
color: var(--text-color, #22222B);
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 18.2px */
}
.ManagementSection table th,.ManagementSection table td {
margin: 8px 30px;
display: flex;
width:16.67%;
min-width: 100px;
}   
.ManagementSection input[type="checkbox"] + label::before {
position: relative;
top: 0;
}
.ManagementSection input[type="checkbox"] + label::after {
position: absolute;
left: 22px;
top: 1px;
}
.ManagementSection .RightkIcon{
display: flex;
justify-content: center;
}
.ManagementSection .UserTable table th,.ManagementSection .UserTable table td {
margin: 8px 30px;
display: flex;
width: 20.51%;
min-width: 100px;
}   
.ResultWarp {
flex-wrap: wrap;
width: 100%;
display: flex;
margin-top: 12px;
flex-direction: row;
justify-content: space-between;
}  
.ResultWarp .UserSeletor{
width: 44%;
margin-right: 12px;
min-width: 700px;
}
.ResultWarp .UserSeletor select {
display: flex;
width: 100%;
height: 32px;
padding: 7px 12px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 4px;
border: 1px solid var(--control-border, #E3E2EB);
background: var(--control-background, #FFF);
}
.UserSeletor table th,.UserSeletor  table td {
margin: 8px 30px;
display: flex;
width: 35%;
min-width: 100px;
}   
.UserSeletor table th:last-child,.UserSeletor  table td:last-child {
margin: 8px 0px;
display: flex;
width: 30%;
min-width: 100px;
}   
.ResultWarp .ImgList{
width: 54%;
max-width: 1315px;
}
.ResultWarp .ImgList .SwiperWarp {
padding: 80px 40px 40px 40px;
overflow: hidden;
border-radius: 4px;
border: 1px solid  #E3E2EB;
background: #FFF;
position: relative;
display: flex;
width: 100%;
}
.ResultWarp .ImgList .SwiperWarp img{
width: 100%;
height: auto;
}

.ResultWarp .ImgList .SwiperWarp  .Pagenavigation {
position: absolute;
top: 40px;
right: 40px;
display: flex;
height: 37px;
margin-bottom: 40px;
}

.ResultWarp .ImgList .SwiperWarp .SlideCounter {
margin: 0 10px;
color: #22222B;
font-family: Pretendard;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 130%;
}
.container{
    display: flex;
    width: 1920px;
}